
.titleHero{
    width:100%;
    min-height: 100px;

    position: relative;
    text-align: center;
}

.titleHero > img{
    width:100%;
    /*color: white;*/
}

.titleHero > h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
}

